<b-button id="popover-target-1" class="mr-sm-2" style="padding: 4pt;" variant="dark">ΟΔΗΓΙΕΣ ΧΡΗΣΗΣ</b-button>
    <b-popover target="popover-target-1" triggers="hover" placement="bottom" variant="dark">
        <b-card title="Τηρούμε τα παρακάτω" sub-title="" bg-variant="dark" text-variant="white">
            <b-card-text>
                <ol>
                    <li>
                        Πριν παμε να εκτελλέσουμε κάποια διεργασία, το έχουμε ανοικτό για να μην ξεχάσουμε να κάνουμε την καταγραφή αλλά και για να "τσιμπηθεί" το κατάλληλο timestamp.
                    </li>
                    <li>
                        Όσο το δυνατον πιο περιγραφικα αλλα συνοπτικά, καταγραφεται η διεργασία, η οποία είναι ΜΟΝΟ τεχνικής φύσεως - π.χ. "upgraded this system" ή "fixed this problem" , η "added this codebase to Jenkins pipeline", "created this Service Principal for this client"...
                    </li>
                    <li>
                        Καθε καταχώρηση στελνεται και ως ειδοποίηση στο Slack στο κανάλι #devops-logbook
                    </li>
                    <li>
                        Σύνδεση με AD account μονο για μελη του AD group 'devops'.
                    </li>
                    <li>
                        Eπιτρέπεται και η ελληνική γλώσσα. O τόνος ειναι απαραίτητος στην αναζήτηση εαν η λέξη περιέχει γράμμα με τόνο.
                        Δηλαδή "τεστακι" ειναι διαφορετικό του "τεστάκι". Case insensitive.
                    </li>
                </ol>
            </b-card-text>
        </b-card>
    </b-popover>